body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: justify;
}
h1{
    font-size: 30px;
}
h3{
    font-size: 25px;
}
.HNCC{
    color: rgb(183, 212, 19);
}
.change{
    width: 50%;
    padding: 5%;
}
.change img{
    width: 30%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato ,orange);
    padding: 10px ;
    border-radius: 10px;
    
}
#first{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    margin: 100px;
}
#second{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    margin: 100px;
}
#third{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience{
    margin: 100px;
}
 .new{
    display: flex;
    margin: 100px;
    padding: 5px;
 }
 .kkr{
    width: 40%;
    margin-right: 5%;
    margin-left: 5% ;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 10px 40px gray ;
 }
 .kks{
    border-left: 10px solid;
    border-image: linear-gradient(orange,red);
    border-image-slice: 1;
    border-radius: 5px;
 }
 .kkt{
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    border-radius: 5px;
 }
 footer{
     text-align: center;
 }