body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 30px;
}
.HNCC{
    color: rgba(17, 223, 62, 0.897);
}
}
.change{
    width: 50%;
    padding: 5%;
}
.change img{
    width: 30%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato ,orange);
    padding: 10px ;
    border-radius: 10px;
    
}
#first{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    margin: 100px;
}
#second{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    margin: 100px;
}
.experience{
    margin: 100px;
}
 .new{
    display: flex;
    margin: 100px;
    padding: 5px;
 }
 .kkr{
    margin: 100px;
 }